<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div id="cart" class="col-md-12">
      <h2>Your Order</h2>
      <ul>
        <% @cart.line_items.each do |item| %>
          <li><%= item.quantity %> grams of <%= item.product.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div id="buttons">
  <div class="col-md-offset-3 col-md-3 col-sm-3 col-xs-offset-2 col-xs-3">
    <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: 'Are you sure?'}, id: "empty" %>
  </div>
  <div class="col-md-offset-3 col-md-3 col-sm-3 col-xs-offset-2 col-xs-3">
    <%= button_to "Checkout", new_order_path, method: :get, :value=>params[:line_item], id: "checkout" %>
  </div>
  <div class="col-sm-offset-3 col-md-offset-3 col-xs-offset-2 col-md-3 col-sm-3 col-xs-3">
    <%= link_to 'Back', store_index_path, id: "back" %>
  </div>
</div>
