<%= form_tag line_items_path(product_id: product) do %>
  <ul>
  <% if product.category == 'Exclusive' %>
    <li>
      <%= radio_button_tag(:quantity, "1") %>
      <%= label_tag(:quantity_1_gram, "1G") %>
    </li>
    <li>
      <%= radio_button_tag(:quantity, "2") %>
      <%= label_tag(:quantity_2_gram, "2G") %>
    </li>
    <li>
      <%= radio_button_tag(:quantity, "3.5") %>
      <%= label_tag(:quantity_8th_grams, "3.5G") %>
    </li>
    <li>
      <%= radio_button_tag(:quantity, "5") %>
      <%= label_tag(:quantity_5_grams, "5G") %>
    </li>
    <li>
      <%= radio_button_tag(:quantity, "7") %>
      <%= label_tag(:quantity_7_grams, "7G") %>
    </li>
    <li>
      <%= radio_button_tag(:quantity, "14") %>
      <%= label_tag(:quantity_14_grams, "14G") %>
    </li>
    <li>
      <%= radio_button_tag(:quantity, "28") %>
      <%= label_tag(:quantity_28_grams, "28G") %>
    </li>
  <% else %>
    <li>
      <%= radio_button_tag(:quantity, "1") %>
      <%= label_tag(:quantity_1_gram, "1G") %>
    </li>
    <li>
      <%= radio_button_tag(:quantity, "2") %>
      <%= label_tag(:quantity_2_gram, "2G") %>
    </li>
    <li>
      <%= radio_button_tag(:quantity, "3.5") %>
      <%= label_tag(:quantity_8th_grams, "3.5G") %>
    </li>
    <li>
      <%= radio_button_tag(:quantity, "5") %>
      <%= label_tag(:quantity_5_grams, "5G") %>
    </li>
    <li>
      <%= radio_button_tag(:quantity, "7") %>
      <%= label_tag(:quantity_7_grams, "7G") %>
    </li>
    <li>
      <%= radio_button_tag(:quantity, "14") %>
      <%= label_tag(:quantity_14_grams, "14G") %>
    </li>
    <li>
      <%= radio_button_tag(:quantity, "28") %>
      <%= label_tag(:quantity_28_grams, "28G") %>
    </li>
  <% end %>
  </ul>
  <div class="col-md-12">
    <%= submit_tag "Add to cart" %>
  </div>
<% end %>
