<p id="notice"><%= notice %>
<div id="price-section">
  <h1>Price Chart</h1>
  <div id="pricing-table">
    <div class="plan">
      <h3>Private Reserve<span>$10/G</span></h3>
      <ul>
        <li>$12/1G</li>
        <li>$30/3.5G</li>
        <li>$55/7G</li>
        <li>$100/14G</li>
        <li>$180/28G</li>
      </ul>
    </div>
    <div class="plan">
      <h3>Exclusive<span>$12/G</span></h3>
      <ul>
        <li>$12/1G</li>
        <li>$30/3.5G</li>
        <li>$55/7G</li>
        <li>$100/14G</li>
        <li>$180/28G</li>
      </ul>
    </div>
  </div>
</div>
<div id="exclusive-section">
  <h1>Exclusive Strains</h1>
</div>
<% cache @products do %>
  <% @products.each do |product| %>
    <% cache product do %>
      <div class="entry">
        <%= link_to (image_tag product.image), product %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <%= render 'form', product: product %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
