<p id="notice"><%= notice %></p>
<h1>Your Pragmatic Catalog</h1>
<% cache @products do %>
  <% @products.each do |product| %>
    <% cache product do %>
      <div class="entry">
        <%= link_to (image_tag product.image), product %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><%= product.category %></span>
          <!-- <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %> -->
          <%= form_tag line_items_path(product_id: product) do %>
            <%= number_field_tag :quantity %>
            <%= submit_tag "Add to cart" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
