<p id="notice"><%= notice %></p>
<div>
  <h1>Price Chart</h1>
</div>
<% cache @products do %>
  <% @products.each do |product| %>
    <% cache product do %>
      <div class="entry">
        <%= link_to (image_tag product.image), product %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <%= render 'form', product: product %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
